* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient( to bottom right, rgb(147, 51, 176),rgb(88, 32, 72));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.laskin {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.laskin #display {
    color: #0a1e23;
}

.dark.laskin {
    background-color: #1b081d;
}

.dark.laskin #display {
    color: #f8fafb;
}

.dark.laskin button#clear {
    background-color: #2d191e;
    color: #bd3740;
}

.dark.laskin button.nappiNU {
    background-color: #310a34;
    color: #f8fafb;
}

.dark.laskin button.nappiOP {
    background-color: #371f39;
    color: #f005e8;
}
  
.dark.laskin button.nappiEQ {
    background-color: #583c56;
    color: #ffffff;
}